{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Exam</h1>
  <div class="container">
    <div class="center-block">
      <ul class="list-group">
          {% for exam in exams %}
              <li class="list-group-item">
                {{ exam.name }}<a href={{ path('exam_delete', {id: exam.id}) }} class="btn btn-danger close-right"><span class="glyphicon glyphicon-remove"></span></a>
              </li>
          {% endfor %}
      </ul>

      <a href={{ path('exam_add') }} class="btn btn-primary">Add an exam</a>
    </div>
  </div>
{% endblock %}
