{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h1 class="text-center">Add an admin</h1>
    <div class="center-block">
      {{ form_start(form) }}
          {{ form_rest(form) }}


          <input type="submit" value="Save" class="btn btn-primary center-block"/>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
