{% extends 'base.html.twig' %}

{% block body %}



        <h1 class="text-center">Admin Interface</h1>


        {#<div class="col-md-6">#}
            {#<h2>Students</h2>#}
            {#<a href={{ path('student_list') }} class="btn btn-primary">Go to student page</a>#}
            {#<h2>Exams</h2>#}
            {#<a href={{ path('exam_list') }} class="btn btn-primary">Go to exam page</a>#}
            {#<h2>Grades</h2>#}
            {#<a href={{ path('grade_list') }} class="btn btn-primary">Go to grade page</a>#}
        {#</div>#}
    <div class="col-md-4">
        <div class="card card-inverse card-success text-center">
            <div class="card-block">
                <blockquote class="card-blockquote">
                    <p>Display the student List</p>
                    <a href={{ path('student_list') }} class="btn btn-primary">Go to student page</a>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-inverse card-info text-center">
            <div class="card-block">
                <blockquote class="card-blockquote">
                    <p>Display the Exam List</p>
                    <a href={{ path('exam_list') }} class="btn btn-primary">Go to exam page</a>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-inverse card-warning text-center">
            <div class="card-block">
                <blockquote class="card-blockquote">
                    <p>Display the grade list</p>
                    <a href={{ path('grade_list') }} class="btn btn-primary">Go to grade page</a>
                </blockquote>
            </div>
        </div>
    </div>
{% endblock %}
