h1{
    background: #d9534f;
    position: static;
    top:0;
    margin-top: 0px;
    color:#fff;
    height: 63px;
    line-height: 63px;
    margin-bottom: 70px;
}
.container-fluid{
    padding: 0;
}

.close-right{
    right: 6px;
    top: 6px;
    position: absolute;
}

.list-group{
    margin-bottom: 20px;
}

.label{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
}

.form-control{
    margin-bottom: 20px;
}