{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Grade</h1>
  <div class="container">
    <div class="center-block">
      <ul class="list-group">
          {% for grade in grades %}
              <li class="list-group-item">
                {{ grade.exam.name }} - {{ grade.student.email }} - {{ grade.grade }}
                  <a href={{ path('grade_delete', {id: grade.id}) }} class="btn btn-danger close-right close-right"><span class="glyphicon glyphicon-remove"></span></a>
              </li>
          {% endfor %}
      </ul>

      <a href={{ path('grade_add') }} class="btn btn-primary">Add a grade</a>
    </div>

  </div>

{% endblock %}
